@{
    ViewData["Title"] = "Polityka prywatności";
}
<script src="https://cdn.tailwindcss.com"></script>
<script>
    tailwind.config = {
        corePlugins: {
            preflight: true,
        },
        prefix: 'tailwind-',
    }
</script>

<h1 class="tailwind-text-3xl">@ViewData["Title"]</h1>

<p>Regulamin.</p>
